Java/Java+Spring+MuleESB/Zenden/classes/productUpdate/site-ftp-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd">
	<flow name="site-ftp-flow" processingStrategy="synchronous">
		<vm:inbound-endpoint exchange-pattern="request-response"
			path="processSiteFtpFlow" doc:name="VM" />
		<ftp:outbound-endpoint host="${site.ftp.product.update.host}"
			port="${site.ftp.product.update.port}" responseTimeout="10000"
			doc:name="save-file-to-site-ftp" binary="true" password="${site.ftp.product.update.password}"
			path="${site.ftp.product.update.path}" user="${site.ftp.product.update.username}"
			outputPattern="#[message.inboundProperties.originalFilename]" />
        <invoke object-ref="siteResponseFileFtpService" method="receiveFile" methodArguments="#[sessionVars.datetimeOfStart]" methodArgumentTypes="java.lang.Long" doc:name="wait-file-and-read-when-it-appears"/>
	</flow>
</mule>
