Java/Java+Spring+MuleESB/Zenden/productUpdate/ftp-reading-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="ftp-reading-flow">
		<ftp:inbound-endpoint host="${ftp.product.update.host}"
			port="${ftp.product.update.port}" path="${ftp.product.update.path}"
			user="${ftp.product.update.username}" password="${ftp.product.update.password}"
			pollingFrequency="60000" responseTimeout="10000" doc:name="FTP"
			binary="true">
			<file:filename-regex-filter pattern="${ftp.product.update.inboundpattern}" caseSensitive="false"/>
		</ftp:inbound-endpoint>
		<message-properties-transformer
			doc:name="set-filename-outbound-property">
			<add-message-property key="originalFilename"
				value="#[message.inboundProperties.originalFilename]" />
		</message-properties-transformer>
		<vm:outbound-endpoint exchange-pattern="one-way"
			path="omsAndSiteSyncFlow" doc:name="call-oms-and-site-sync-flow" />
		<catch-exception-strategy doc:name="catch-exception-strategy">
			<scripting:transformer doc:name="print-stack-trace">
				<scripting:script engine="Groovy">
                    <scripting:text><![CDATA[org.apache.log4j.Logger.getLogger("productUpdateLogger").error("Error Trace is : \n",exception)]]></scripting:text>
				</scripting:script>
			</scripting:transformer>
		</catch-exception-strategy>
	</flow>
</mule>
